@import '../../../node_modules/normalize.css/normalize.css';
@import '../../../node_modules/@blueprintjs/core/lib/css/blueprint.css';

html,
body {
	height: 100vh;
}

#root {
	display: inline;
	overflow: auto;
}

.main {
	height: 100%;
	&.pt-dark {
		background-color: #394b59;
	}
}

.fill {
	width: 100%;
}

.pt-popover-content {
	max-width: 350px;
	padding: 10px;
}

.pt-dialog {
	padding: 0;
	border-radius: 0.5rem;
}

button {
	box-shadow: none !important;
	background-image: none !important;
}

.navbar {
	margin-bottom: 1rem;
	button {
		margin-right: 1rem;
	}
}

.watchers-list {
	padding: 0 1rem;
}

.pt-popover-content {
	.pt-control:last-child {
		margin-bottom: 0;
	}
}

.hidden {
	display: none;
}
